h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background: linear-gradient(#000, #0AA);
    height: 101vh;
    margin: 0;

    text-align: center;
    color: white;
}

.main {
    background: linear-gradient(90deg,#0060b9, #0084ff, #0060b9);
    color: white;
    height: 98.9vh;
    width: 60%;
    border-color: #000;
    border-width: 0px 2px 0px 2px;
    border-style: solid;

    padding: 10px 10px;
    margin: auto;
    text-align: center;
}

.centerer {
    display: flex;
    justify-content: center;
}